<div class="document-list">
  <h2>Documents</h2>
  <p>search criteria must be in lower case: elastic does not accept capial letters</p>
  <div class="search-bar">
    <input 
      type="text" 
      [(ngModel)]="searchTerm" 
      (keyup)="search()"
      placeholder="Search documents..."
      class="form-control">
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>sotrageKey</th>       
        <th>Filename</th>
        <th>Type</th>
        <th>Size</th>
        <th>Upload Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of documents?.content">
        <td>{{ doc.storageKey }}</td>        
        <td>{{ doc.filename }}</td>
        <td>{{ doc.contentType }}</td>
        <td>{{ formatSize(doc.size) }}</td>
        <td>{{ doc.uploadDate | date }}</td>
        <td>
          <button 
            (click)="downloadDocument(doc)"
            class="btn btn-sm btn-primary">
            Download
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination" *ngIf="documents && documents.totalPages > 0">
    <button
      [disabled]="currentPage === 0"
      (click)="changePage(currentPage - 1)"
      class="btn btn-secondary">
      Previous
    </button>
    <span>Page {{(currentPage|| 0) + 1}} of {{documents.totalPages || 1}}</span>
    <button
      [disabled]="(currentPage || 0) >= (documents.totalPages - 1)"
      (click)="changePage(currentPage + 1)"
      class="btn btn-secondary">
      Next
    </button>
  </div>  
</div>